<div id="description">
  <div class="experience">
    <h5 style="text-align: center;">自我描述</h5>
    <ul>
      <li>
        <%=@resume.description.description%>
      </li>
    </ul>
    <div class="row">
    </div>
  </div>
</div>